#bindjw{
  .top{
    .bind-logo{
      width: 55vw;
      border: 1px solid black;
      height: 40vh;
      min-height: 40vh;
      margin: 7vh auto 3vh;
    }
    .tip{
      font-size: 14px;
    }
  }
  .info-wrapper{
    width: 90vw;
    margin: auto;
    .password-wrapper{
      margin-top: 2vh;
    }
  }
  .bind-btn{
    margin-top: 3vh;
    width: 90vw;
  }
}
